In [30]:
import numpy as np
import pandas as pd

In [3]:
## Data Preprocess + First Model ##

In [76]:
import json
with open('./data/preprocessed.json', 'r') as file:
    data = json.load(file)

In [77]:
data = pd.DataFrame(data)
data

,player_id,date,first_name,last_name,fgm,fga,fg_pct,fg3m,fg3a,fg3_pct,...,ft_pct,oreb,dreb,reb,ast,stl,blk,turnover,pf,pts
0,56677844,1729728000000,Bilal,Coulibaly,1,2,0.500000,0,0,0.000000,...,0.750000,1,5,6,6,1,0,3,0,8
1,265,1729728000000,Kyle,Kuzma,6,16,0.375000,0,5,0.000000,...,0.000000,0,2,2,1,1,1,1,1,12
2,1028028405,1729728000000,Alexandre,Sarr,1,7,0.142857,0,5,0.000000,...,0.000000,1,4,5,1,0,2,0,2,2
3,666848,1729728000000,Jordan,Poole,9,17,0.529412,6,11,0.545455,...,1.000000,0,1,1,4,4,1,4,3,26
4,1028025235,1729728000000,Carlton,Carrington,1,6,0.166667,0,2,0.000000,...,0.500000,0,3,3,2,0,2,2,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6167,443,1731542400000,Klay,Thompson,6,17,0.352941,5,13,0.384615,...,0.000000,0,3,3,2,0,1,3,0,17
6168,257,1731542400000,Maxi,Kleber,1,2,0.500000,0,1,0.000000,...,0.500000,0,0,0,0,0,0,0,2,3
6169,56677840,1731542400000,Dereck,Lively II,2,2,1.000000,0,0,0.000000,...,0.500000,1,1,2,0,1,4,1,5,5
6170,17895858,1731542400000,Quentin,Grimes,5,9,0.555556,3,7,0.428571,...,0.666667,0,4,4,5,1,0,1,4,15
6171,132,1731542400000,Luka,Doncic,13,25,0.520000,4,13,0.307692,...,1.000000,1,6,7,9,1,0,3,0,37

In [78]:
data['date'] = pd.to_datetime(data['date'], unit='ms')
data

,player_id,date,first_name,last_name,fgm,fga,fg_pct,fg3m,fg3a,fg3_pct,...,ft_pct,oreb,dreb,reb,ast,stl,blk,turnover,pf,pts
0,56677844,2024-10-24,Bilal,Coulibaly,1,2,0.500000,0,0,0.000000,...,0.750000,1,5,6,6,1,0,3,0,8
1,265,2024-10-24,Kyle,Kuzma,6,16,0.375000,0,5,0.000000,...,0.000000,0,2,2,1,1,1,1,1,12
2,1028028405,2024-10-24,Alexandre,Sarr,1,7,0.142857,0,5,0.000000,...,0.000000,1,4,5,1,0,2,0,2,2
3,666848,2024-10-24,Jordan,Poole,9,17,0.529412,6,11,0.545455,...,1.000000,0,1,1,4,4,1,4,3,26
4,1028025235,2024-10-24,Carlton,Carrington,1,6,0.166667,0,2,0.000000,...,0.500000,0,3,3,2,0,2,2,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6167,443,2024-11-14,Klay,Thompson,6,17,0.352941,5,13,0.384615,...,0.000000,0,3,3,2,0,1,3,0,17
6168,257,2024-11-14,Maxi,Kleber,1,2,0.500000,0,1,0.000000,...,0.500000,0,0,0,0,0,0,0,2,3
6169,56677840,2024-11-14,Dereck,Lively II,2,2,1.000000,0,0,0.000000,...,0.500000,1,1,2,0,1,4,1,5,5
6170,17895858,2024-11-14,Quentin,Grimes,5,9,0.555556,3,7,0.428571,...,0.666667,0,4,4,5,1,0,1,4,15
6171,132,2024-11-14,Luka,Doncic,13,25,0.520000,4,13,0.307692,...,1.000000,1,6,7,9,1,0,3,0,37

In [79]:
# Combine first_name and last_name
data['player_name'] = df['first_name'] + ' ' + df['last_name']
# Remove first_name, last_name, turnover, pf, and player_id columns
data = data.drop(columns=['player_id','first_name','last_name','turnover','pf'])
# Move player_name to front
data = data[['player_name'] + data.columns.drop('player_name').tolist()]
data

,player_name,date,fgm,fga,fg_pct,fg3m,fg3a,fg3_pct,ftm,fta,ft_pct,oreb,dreb,reb,ast,stl,blk,turnover,pf,pts
0,Bilal Coulibaly,2024-10-24,1,2,0.500000,0,0,0.000000,6,8,0.750000,1,5,6,6,1,0,3,0,8
1,Kyle Kuzma,2024-10-24,6,16,0.375000,0,5,0.000000,0,0,0.000000,0,2,2,1,1,1,1,1,12
2,Alexandre Sarr,2024-10-24,1,7,0.142857,0,5,0.000000,0,0,0.000000,1,4,5,1,0,2,0,2,2
3,Jordan Poole,2024-10-24,9,17,0.529412,6,11,0.545455,2,2,1.000000,0,1,1,4,4,1,4,3,26
4,Carlton Carrington,2024-10-24,1,6,0.166667,0,2,0.000000,1,2,0.500000,0,3,3,2,0,2,2,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6167,Klay Thompson,2024-11-14,6,17,0.352941,5,13,0.384615,0,0,0.000000,0,3,3,2,0,1,3,0,17
6168,Maxi Kleber,2024-11-14,1,2,0.500000,0,1,0.000000,1,2,0.500000,0,0,0,0,0,0,0,2,3
6169,Dereck Lively II,2024-11-14,2,2,1.000000,0,0,0.000000,1,2,0.500000,1,1,2,0,1,4,1,5,5
6170,Quentin Grimes,2024-11-14,5,9,0.555556,3,7,0.428571,2,3,0.666667,0,4,4,5,1,0,1,4,15
6171,Luka Doncic,2024-11-14,13,25,0.520000,4,13,0.307692,7,7,1.000000,1,6,7,9,1,0,3,0,37

In [80]:
# Check for missing values
data.isna().sum() # None, Yay!

player_name    0
date           0
fgm            0
fga            0
fg_pct         0
fg3m           0
fg3a           0
fg3_pct        0
ftm            0
fta            0
ft_pct         0
oreb           0
dreb           0
reb            0
ast            0
stl            0
blk            0
turnover       0
pf             0
pts            0
dtype: int64

In [81]:
# Scale to normalize features
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
numerical_cols = ['fgm', 'fga', 'oreb', 'dreb', 'ast', 'stl', 'blk', 'turnover', 'pf', 'pts']
data[numerical_cols] = scaler.fit_transform(df[numerical_cols])

In [87]:
# Computing the last 5 averages for each player
average_estimates = ['fgm', 'fga', 'fg3m', 'fg3a', 'ftm', 'fta', 'oreb', 'dreb', 'reb', 'ast', 'stl', 'blk', 'turnover', 'pf', 'pts']
for col in average_estimates:
    data[f'{col}_avg_last_5'] = data.groupby('player_name')[col].transform(lambda x: x.rolling(window=5, min_periods=1).mean())

In [86]:
# Creating feature "on_hotstreak" to indicate if player is performing higher when compared to their average i
player_avg_pts = data.groupby('player_name')['pts'].transform('mean')
player_avg_asts = data.groupby('player_name')['ast'].transform('mean')
player_avg_reb = data.groupby('player_name')['reb'].transform('mean')

# Then, compare the last 5-game average to the player's overall average and convert boolean to integers 
# where (1 if on hotstreak, 0 if not)
data['on_hotstreak_pts'] = (data['pts_avg_last_5'] > player_avg_pts).astype(int)
data['on_hotstreak_asts'] = (data['ast_avg_last_5'] > player_avg_asts).astype(int)
data['on_hotstreak_reb'] = (data['reb_avg_last_5'] > player_avg_reb).astype(int)
data

,player_name,date,fgm,fga,fg_pct,fg3m,fg3a,fg3_pct,ftm,fta,...,reb_avg_last_5,ast_avg_last_5,stl_avg_last_5,blk_avg_last_5,turnover_avg_last_5,pf_avg_last_5,pts_avg_last_5,on_hotstreak_pts,on_hotstreak_asts,on_hotstreak_reb
0,Bilal Coulibaly,2024-10-24,0.047619,0.058824,0.500000,0,0,0.000000,6,8,...,6.0,0.3750,0.142857,0.000000,0.30,0.000000,0.135593,0,1,1
1,Kyle Kuzma,2024-10-24,0.285714,0.470588,0.375000,0,5,0.000000,0,0,...,2.0,0.0625,0.142857,0.111111,0.10,0.166667,0.203390,1,0,0
2,Alexandre Sarr,2024-10-24,0.047619,0.205882,0.142857,0,5,0.000000,0,0,...,5.0,0.0625,0.000000,0.222222,0.00,0.333333,0.033898,0,0,0
3,Jordan Poole,2024-10-24,0.428571,0.500000,0.529412,6,11,0.545455,2,2,...,1.0,0.2500,0.571429,0.111111,0.40,0.500000,0.440678,1,0,0
4,Carlton Carrington,2024-10-24,0.047619,0.176471,0.166667,0,2,0.000000,1,2,...,3.0,0.1250,0.000000,0.222222,0.20,0.500000,0.050847,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6167,Klay Thompson,2024-11-14,0.285714,0.500000,0.352941,5,13,0.384615,0,0,...,4.4,0.1500,0.000000,0.022222,0.16,0.366667,0.250847,1,1,1
6168,Maxi Kleber,2024-11-14,0.047619,0.058824,0.500000,0,1,0.000000,1,2,...,0.0,0.0000,0.000000,0.000000,0.00,0.066667,0.010169,0,0,0
6169,Dereck Lively II,2024-11-14,0.095238,0.058824,1.000000,0,0,0.000000,1,2,...,2.0,0.0250,0.028571,0.111111,0.04,0.266667,0.057627,0,0,0
6170,Quentin Grimes,2024-11-14,0.238095,0.264706,0.555556,3,7,0.428571,2,3,...,3.6,0.1000,0.057143,0.000000,0.02,0.266667,0.101695,1,1,1
6171,Luka Doncic,2024-11-14,0.619048,0.735294,0.520000,4,13,0.307692,7,7,...,7.6,0.5500,0.285714,0.022222,0.42,0.333333,0.505085,1,1,0

In [ ]:
def predictor(player_name, type_of_prediction, baseline):
    player_data = data[data['player_name'] == player_name]
    
    relevant_features = {
        "points": ["fg3_pct", "fg_pct",'ft_pct', "pts_avg_last_5", "on_hotstreak_pts"],
        "rebounds": ["oreb", "dreb", "reb_avg_last_5", "on_hotstreak_reb"],
        "assists": ["ast", "ast_avg_last_5", "on_hotstreak_asts"]
    }
    
    if type_of_prediction == 'points':
        
    elif type_of_prediction == 'rebounds':
        
    elif type_of_prediction == 'assists':
        
    elif type_of_prediction == 'pra':